# Knowing the type of Variable

In [4]:
x = 5
y = "Mimi"
z = 5.0
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'str'>
<class 'float'>

# Declaring String Variables with Single or Double Quotes

In [5]:
x = "Mimi"
# is the same as
x = 'Mimi'

In [8]:
# Variable names are case sensitive
a = 6
A = "Sally baby"
print(a)
print(A) #A will not overwrite a

6
Sally baby

# Assigning Multiple Variables

In [10]:
x, y, z = "Orange", "Mango", "Banana"
print(x)
print(y)
print(z)

Orange
Mango
Banana

In [11]:
#one value to multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [15]:
#unpack a collection
Fruits = ["Orange", "Mango", "Banana"]
x, y, z = Fruits
print(x)
print(y)
print(z)

Orange
Mango
Banana

# Output Variables

In [16]:
x = "I love Mango"
print(x)

I love Mango

In [18]:
x = "I"
y = "love"
z= "Mango"
print(x, y, z) #best is to separate using comma

I love Mango

In [20]:
x = "I "
y = "love "
z= "Mango"
print(x + y + z)

I love Mango

In [21]:
carname = "Volvo"

# TYPES OF DATA

In [ ]:
int #numbers
str #letters
float #decimal
boolean #True or False

In [1]:
[12, 10, 15, 17]

[12, 10, 15, 17]

In [2]:
test_scores = [12, 10, 15, 17]

In [3]:
dami_math_score = test_scores[3]
dami_math_score

17

In [ ]:
name.append()

In [ ]:
name.extend

In [4]:
len([1,2,3,4])

4

In [ ]:
[1,2,3,4] # list
(1,2,3,4) # tuple

In [7]:
lst = ['ola', 'sam', 'ife', 'ayo', 'ade']
tpl = ('ola', 'sam', 'ife', 'ayo', 'ade')

In [8]:
lst[1]

'sam'

In [1]:
list1= [1,2,3,4]
list2= [5,6,7,8]

In [3]:
list1.append(3)

In [4]:
list1.extend(list2)

In [5]:
list1

[1, 2, 3, 4, 3, 5, 6, 7, 8]

In [9]:
dict = {"name": 'Damilola', 'Age':20, 'height':150}

In [10]:
dict ['height']

150

In [15]:
dict = {"name": ['Damilola', 'ade', 'ola', 'ayo'], 'Age':[20,22,29,19], 'height':[150,120,90,200]}

In [17]:
dict['height']

[150, 120, 90, 200]

In [16]:
dict['height'][1]

120

In [18]:
dict['name'][3]

'ayo'

In [25]:
name=('celebration')
len('celebration')

11

# SET

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,2,5,67}

In [20]:
universal_set = set1.union(set2)
universal_set

{1, 2, 3, 4, 5, 6, 67}

In [21]:
set1 & set2

{2, 3, 4, 5}

In [24]:
set1 | set2

{1, 2, 3, 4, 5, 6, 67}

In [31]:
name = 'ola'
name == 'ola'

True

In [33]:
name = 'ola'
name == 'olu'

False

In [32]:
name = 'ola'
name != 'ola'

False

In [34]:
gender = 'man'
if gender == 'man':
    print('keep standing')
else:
     print('sit down')

keep standing

In [35]:
gender = 'man'
if gender == 'woman':
    print('keep standing')
else:
     print('sit down')

sit down

In [36]:
gender = 'man'
if gender != 'man':
    print('keep standing')
else:
     print('sit down')

sit down

In [37]:
gender = 'man'
if gender == 'man':
    print('keep standing')
elif gender=='woman':
     print('sit down')
else:
     print('what is your gender')

keep standing

In [48]:
gender = 'woman'
if gender == 'man':
    print('keep standing')
elif gender=='woman':
     print('sit down')
else:
     print('what is your gender')

sit down

In [38]:
gender = 'women'
if gender == 'man':
    print('keep standing')
elif gender=='woman':
     print('sit down')
else:
     print('what is your gender')

what is your gender

In [46]:
age = 18
if age < 18:
    print('you are under age')
elif age == 18:
    print('you are of age')
else:
    print('you are an elder')

you are of age

In [47]:
age = 20
if age < 18:
    print('you are under age')
elif age == 18:
    print('you are of age')
else:
    print('you are an elder')

you are an elder